@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
